#TrdMain {
    width:80%;
    height:40vw;
    background: white;
    position: relative;
}

/*게임컨테이너*/
#TrdMain .imgwrap {
    width:80%;
    height: 80%;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    background: white;
    border-radius: 8px;
    border:2px solid black;
}

/*새로운 상자, 버튼효과 없는 */
#TrdMain .imgwrap .imgwrap2 {
    width:90%;
    height: 90%;
    position: absolute;
    border-radius: 8px;
    border:2px solid black;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    background: white;
    opacity: 0;
}

#TrdMain .imgwrap img {
    width:100%;
}

#TrdMain .imgwrap .allinform {
    position: absolute;
    font-size: 1.5em;
    top:-3vw;
}

#TrdMain .imgwrap #description {
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);

}

/*결과 글 꾸미기*/
#TrdMain .imgwrap #description #result {
    color:green;
    display: inline-block;
    font-size:3vw;
}

/*틀린부분 찾는 동그라미*/
#TrdMain .imgwrap .hitbox {
    position: absolute;
    top:0;
    left:0;
    font-size:3.5vw;
    opacity: 0;
}

#TrdMain .imgwrap .hitbox.hitbox1 {
    top:22%;
    left:81.3%;
    color:yellow;
    cursor: pointer;
}

#TrdMain .imgwrap .hitbox.hitbox2 {
    top:78%;
    left:72.5%;
    color:orange;
    cursor: pointer;
}
#TrdMain .imgwrap .hitbox.hitbox3 {
    top:52%;
    left:71.5%;
    color:pink;
    cursor: pointer;
}

#TrdMain .imgwrap #description .blue001
{           margin-top: 15px;
            background-color: white;
            color: black;
            border:2px solid black;
            padding: 13px 17px;
            font-size: 20px;
            border-radius: 8px;
            cursor: pointer;
            width: 120px;
            outline: none;
        }

#TrdMain .imgwrap #explain{
    float: right;
    font-size: 1.5em;
}